@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
}


.header {
    display: flex;
    height: 150px;
    background-image: url(https://th.bing.com/th/id/OIP.9Jp0eYgAE75ALgNf4IWu0gHaEo?rs=1&pid=ImgDetMain);
    margin: 0;
    border-radius: 20px 20px 20px 20px;
}

.button-section {
    position: absolute;
    top: 65px;
    right: 10px;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px 10px 10px 10px;
    width: 100px;
    height: 30px;
    border: none;
}                                   
